<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<style>
    .spinner {
        /*background-image: url('./loading_spinner.gif');*/
        display: inline-block;
        background-size: contain;
        width: 50px;
        height: 50px;
    }
</style>
<div class="spinner"></div>